.navbar{
    background-color: #0C2340;
    display: flex;
    font-size: 28px;
    text-align: center;
    height: 50px;
}

.logo {
    height: 30px;
}

.home {
    color: white;
    font-size: 15px;
}

.about {
    color: white;
    font-size: 15px;
}

.hsstudents {
    color: white;
    font-size: 15px;
}

.adultstudents {
    color: white;
    font-size: 15px;
}

.partners {
    color: white;
    font-size: 15px;
}

.counselors {
    color: white;
    font-size: 15px;
}
.footer{
    background-color: #0C2340;
    font-size: 15px;
    text-align: left;

}
.button {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #0C2340;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 3px solid #CCCCCC;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    border-left: 3px solid #CCCCCC;
  }
.footerColor{
    color: white;
}
